{% extends 'base.html' %}
{% load static %}
{% block title %}Saved List {% endblock title %}

{% block content %}
{% include 'parts/nav.html' %}
<div class="container" style="margin-top: 100px;">
<div class="card mb-10 rounded-0">
    <div class="card-header rounded-2" style="background: #b5c6e0;">
      <h5 class="card-header-title text-light">Applicants</h5>
    </div>
  
    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Applicant Position</th>
            <th>View</th>
          
            <th style="width: 5%;"></th>
          </tr>
        </thead>
  
        <tbody>
            {% for applicant in applicants_list %}
            
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  {% if applicant.profile_pic %}
                  <img class="avatar avatar-md rounded-5" src="{{applicant.profile_pic.url}}" alt="Image Description">
                  {% endif %}
                </div>
  
                <div class="flex-grow-1 ms-3">
                  <a class="d-inline-block link-dark" href="#">
                    <h6 class="text-hover-primary mb-0">{{applicant.owner.full_name}} - {{applicant.calculate_age}} y.o</h6>
                  </a>
         
                </div>
              </div>
            </td>
            <td>
                <h5>{{applicant.desired_job}}</h5>
            </td>
            <td>
                <a href="{% url 'profile' applicant.owner.username %}" target="_blank" rel="noopener noreferrer">View Profile</a> |
                {% if request.user.customer %}
                {% if candidate.applicant_cv  %}
                <a href="{{applicant.applicant_cv.url}}" target="_blank" rel="noopener noreferrer">View Resume</a>
                {% endif %}
                {% endif %}
            </td>
          </tr>
          {% empty %}
           <td>
            <div class="alert alert-soft-primary position-relative text-center" role="alert" style="margin-left: 50%;margin-bottom:50px;">
              You have no saved profiles yet...!
            </div>
            <div class="m">
              <img src="{% static 'assets/svg/illustrations/oc-building-apps.svg' %}" class="img-fluid" alt="Error" style="margin-left:25%;">

            </div>
            
           
            </td>
          
  
          {% endfor %}
  

        </tbody>
      </table>
    </div>
    <!-- End Table -->
    


  <!-- End Card -->



  <!-- End Tab Content -->
</div>
</div>
{% endblock content %}