.env
mystaticfiles/images
/images
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pyc
# static
/static
static/
# Dependency directories
env/
venv/
db.sqlite3
.env
.idea/

# static