    {% extends 'base.html' %}
    {% load static %}
    
    <title>{% block title %}
    Position Details - Travaii
      {% endblock title %} </title>
    {% block content %}
    <body>
      
 
    {% include 'parts/nav.html' %}



    <main id="content" role="main">
        <!-- Page Header -->
        {% for work in job %}
        <div class="container content-space-t-2 mt-5">
          <div class="w-lg-75 mx-lg-auto">
            <div class="page-header">
              <!-- Media -->
              <div class="d-sm-flex mb-3">
                <div class="flex-shrink-0 mb-2 mb-sm-0">
                  {% if work.publisher.companyprofile %}
                  <a href="{% url 'company_Profile' work.publisher.companyprofile.id %}">
                    {% if work.publisher.companyprofile.company_logo %}
                    <img class="avatar avatar-lg mb-3" src="{{work.publisher.companyprofile.company_logo.url}}" alt="Image Description">
                    {% endif %}
                  </a>
                  {% endif %}
                </div>
                
                <div class="flex-grow-1 ms-sm-4">
                  <div class="row">
                    <div class="col">
                      <h1 class="page-header-title h2">{{work.position}}</h1>
                    </div>
                    <!-- End Col -->
    
                    <div class="col-auto">
                      <!-- Checkbbox Bookmark -->
                      
                      <div class="form-check form-check-bookmark">
                        <input class="form-check-input" type="checkbox" value="" id="jobsPageHeaderBookmarkCheck">
                        <label class="form-check-label" for="jobsPageHeaderBookmarkCheck">
                          <span class="form-check-bookmark-default">
                            {% if not added %}
                          <a href="{% url 'save_job' work.id %}"><i class="bi-star me-1"></i> Save this job </a>
                          {% else %}
                          <a href="{% url 'save_job' work.id %}"> <i class="bi bi-star-fill text-warning"></i> Saved </a>
                          {% endif %}
                          </span>
                          
                        
                          
                        </label>
                      </div>
                      
                      
                      <!-- End Checkbbox Bookmark -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
    
                  <ul class="list-inline list-separator d-flex align-items-center mb-2">
                    <li class="list-inline-item">
                      <a class="link" href="{% url 'company_Profile' work.publisher.id  %}">{{work.publisher.companyprofile.company_name}}</a>
                      {% if work.publisher.customer and work.publisher.customer.selected_membership == 'Mid-market enterprises' %}
                      <i class="bi bi-patch-check-fill text-primary" title="Premium Account"></i> 
                      {% elif work.publisher.customer and work.publisher.customer.selected_membership == 'Large enterprise' %}     
                      <i class="bi bi-patch-check-fill text-primary" title="Premium Account"></i> 
                      {% endif %}
                    </li>
                  </ul>
    
                  <ul class="list-inline list-separator small text-body mb-2">
                    <li class="list-inline-item"><i class="bi bi-calendar2-date text-primary"></i> Posted {{work.creation_date|timesince}} ago</li>
                      {% if work.publisher.companyprofile.city or work.publisher.companyprofile.state %}
                    <li class="list-inline-item"><i class="bi bi-geo-alt-fill text-primary"></i> {{work.publisher.companyprofile.city}}, {{work.publisher.companyprofile.state}}</li>
                    {% endif %}

                    {% if work.job_type %}
                    <li class="list-inline-item">{{work.job_type}}</li>
                    {% endif %}
                    {% if work.salary_from or work.salary_to %}
                    <li class="list-inline-item">
                      <strong>
                      <i class="bi bi-coin text-primary" title="This sign refers ONLY to payment or salary in General and NOT to currency of the prposed salary"></i> {{work.salary_from}}-{{work.salary_to}} {{work.salary_currency}}</strong></li>
                      {% endif %}
                    {% if work.work_from %}
                    <span class="badge bg-soft-info text-info me-2">
                        <span class="legend-indicator bg-info" sty></span>{{work.work_from}}
                      </span>
                      {% endif %}
                    

                  </ul>
                  
                  
                </div>
                
                
            </div>
           
                     
     
              <!-- End Media -->
            </div>
          </div>
        </div>
        <!-- End Page Header -->
 
        <!-- Content -->
        <div class="container content-space-2 content-space-b-lg-3">
          <div class="w-lg-75 mx-lg-auto">
            <div class="row mb-3">
              <div class="col">
                <h3>Description</h3>
              </div>
              <!-- End Col -->
    
              <div class="col-auto">
                <!-- Dropdown -->
                <div class="dropdown">
                  <a class="link" href="#" id="jobOverviewShareDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                    Share this job <i class="bi-share-fill small ms-1"></i>
                  </a>
    
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="jobOverviewShareDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="bi-facebook dropdown-item-icon"></i> Facebook
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="bi-twitter dropdown-item-icon"></i> Twitter
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="bi-linkedin dropdown-item-icon"></i> LinkedIn
                    </a>
                  </div>
                </div>
                <!-- End Dropdown -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
            <h5>Who we are:</h5>

        <p>{{work.publisher.companyprofile.about}}</p>

        
        <h5>The role:</h5>
           
            <div>
              {{work.description|safe}}
            </div>
            {% endfor %}
              
            <div class="d-grid mt-7">
              {% if request.user.is_authenticated %}
              {% if request.user.is_applicant %}
                {% for work in job %}
                {% if applying %}
                <a class="btn btn-success btn-transition" href="{% url 'my_applications' %}">you have already applied - Press to check status</a>
                {% elif not request.user.applicantprofile.applicant_cv %}
                <div class="alert alert-warning" role="alert">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <i class="bi-exclamation-triangle-fill"></i>
                    </div>
                    <div class="flex-grow-1 ms-2">
                      Information: Upload a resume first to start applying for jobs, <a href="{% url 'applicant_info' user.id %}" ><strong class="text-primary">Go to Profile</strong> </a>  
                    </div>
                  </div>
                </div>
               
                {% else %}
                
              <a class="btn btn-primary btn-transition" href="{% url 'apply_for' work.id %}">Apply for this job</a>
              {% endif %}
              
              {% endfor %}
              
              
              {% endif %}
              {% else %}
              <a class="btn btn-primary btn-transition" href="{% url 'sign_up' %}">Apply for this job</a>
              {% endif %}
            </div>

            
            
            
          </div>
        </div>
        <!-- Content -->
      </main>


    </body>


    {% endblock content %}

