{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Job - Travaii{% endblock title %}

{% block content  %}
<style>

  @media only screen and (min-width: 992px){
.django-ckeditor-widget{
  width: 100%;
}
  label{
    font-weight: 700;
  }
.ts-custom-placeholder{
  font-size: 15px;
  font-weight: 500;
}
.navbar-nav .barhold .nav-item .nav-link{
  color: white;
}
.navbar-nav .barhold .nav-item .nav-link:hover{
  color: orange;
}
}
@media only screen and (max-width: 991px) {
  label{
    font-weight: 700;
  }
.ts-custom-placeholder{
  font-size: 15px;
  font-weight: 500;
}
  .navbar-nav .barhold .nav-item .nav-link{
  color: black;
}
.navbar-nav .barhold .nav-item .nav-link:hover{
  color: orange;
}
.bi-list{
  color: white;
}

}
</style>
{% include 'parts/nav.html' %}


<body class="bg-dark bg-img-start" style="background-image: url(/static/assets/svg/components/rect.png);">
<!-- Contacts -->
<div class="position-relative">
  <div>
    <div class="container content-space-t-2 content-space-b-1">
      <!-- Heading -->
      <div class="w-lg-50 text-center mx-lg-auto mb-7">

        <span class="text-cap text-white-70">Post Job</span>
        <h2 class="text-white lh-base">Share your position in 5 minutes.</h2>
      </div>
      <!-- End Heading -->

      <div class="mx-auto" id="myforma" style="max-width: 55rem;">
        
        <!-- Card -->
        <div class="card zi-2">
          <div class="card-body">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tag}} rounded-0" role="alert">
              {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <!-- Form -->
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="hireUsFormFirstNameEg1">Position</label>
                    {{form.position}}
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="hireUsFormLasttNameEg1">People Needed</label>
                    {{form.num_people}}
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
              <div class="row">
                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="hireUsFormFirstNameEg1">Category</label>
                    {{form.job_category}}
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="hireUsFormLasttNameEg1">Type of job</label>
                    {{form.job_type}}
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="hireUsFormFirstNameEg1">Work from:</label>
                    {{form.work_from}}
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="hireUsFormLasttNameEg1">Shift</label>
                    {{form.job_shift}}  
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="hireUsFormFirstNameEg1">Salary<span class="form-label-secondary">(Recommended)</span>:</label>
                    {{form.salary}}
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="hireUsFormLasttNameEg1">Interview Type <span class="form-label-secondary">(Recommended)</span></label>
                    {{form.interview_type}}
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->
              </div>

              <!-- Form -->
              <div class="mb-4">
                <label class="form-label d-block" for="hireUsFormDetailsEg1">Details</label>
                <div class="desc">
                {{form.description}}
              </div>
                </div>
              <!-- End Form -->
                <!-- Form -->
              <div class="mb-4">
                <label class="form-label d-block" for="hireUsFormDetailsEg1">Privacy:</label>
                
                {{form.is_published}}
                <label class="form-check-label" for="formInlineCheck3">Public</label>
            
                </div>
              <!-- End Form -->

              <div class="d-grid mb-2">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
              </div>

            </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>

  <!-- Shape -->
  <div class="shape shape-bottom zi-1">
    <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 500H3000V0L0 500Z" fill="#fff"/>
    </svg>
  </div>
  <!-- End Shape -->
</div>
<!-- End Contacts -->
<!-- ========== END SECONDARY CONTENTS ========== -->
{% load static %}
<script type="text/javascript" src='{% static "ckeditor/ckeditor-init.js" %}'></script>
<script type="text/javascript" src='{% static "ckeditor/ckeditor/ckeditor.js" %}'></script>
<!-- JS Global Compulsory  -->
<script src="{% static '/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	


</body>
{% endblock content %}