{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    

{% include 'parts/nav.html' %}

{% include 'users/topbar.html' %}

    <!-- Content -->
    <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
        <div class="row">
          <div class="col-lg-3">
            <!-- Navbar -->
            {% include 'users/side_bar.html' %}
            <!-- End Navbar -->
          </div>
          <!-- End Col -->
          
          <div class="col-lg-9">
            <div class="d-grid gap-3 gap-lg-5">
              <!-- Card -->
              <div class="card">
                <div class="card-header border-bottom">
                  <h2 class="card-header-title"> <i class="fa-sharp fa-solid fa-building-columns text-primary"></i> Experience</h2>
                  
                    <!-- Button trigger modal -->
                    <div class="text-end">
<button type="button" class="btn btn-soft-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Add Work Experience
  </button>
  <!-- End Button trigger modal -->
</div>
                </div>
  
                <!-- Body -->
                
                <div class="card-body">
                                        
                                        <!-- Table -->
                    <table class="table table-lg">
                      <thead>
                        <tr>
                          <th scope="col"><b>Position</b> </th>
                         
                          <th scope="col"> <b>View, Edit or Delete</b> </th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        {% for experience in work %}
                        <tr>
                          
                          <td> <i class="fa-sharp fa-solid fa-building-columns text-primary "></i> {{experience.title}}</td>
                         
                         
                          <td>
                            <button onclick="abrir_modal_edicion('{% url 'detail_experience' experience.id %}')" class="btn btn-primary btn-sm"><i class="bi bi-eye-fill"></i></button>
                            <button onclick="abrir_modal_edicion('{% url 'edit_experience' experience.id %}')" class="btn btn-success btn-sm"><i class="bi bi-pencil-square"></i></button>
                            <button onclick="abrir_modal_edicion('{% url 'delete_experience' experience.id %}')" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                          
                          
                          </td>
                          
                          

                        </tr>
                   
                        {% endfor %}
                      </tbody>
                    </table>
                    <!-- End Table -->
                </div>
                <!-- End Body -->
              </div>
              <!-- End Card -->
            
  
            </div>
          </div>
          <!-- End Col -->
         
        </div>
        <!-- End Row -->
        <div class="modal fade" id="edicion" role="dialog">

        </div>
        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="applyForJob" class="js-validate" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-body">
          <!-- Form -->
  
    <div class="mb-5">
      <h3>Experience</h3>
    </div>
  
  
    <!-- Form -->
    <div class="row mb-3">
      <label for="fullNameCareersForm" class="col-sm-4 col-form-label">Position</label>
      <div class="col-sm-8">
        {{form.title.errors}}
        {{form.title}}
    </div>
    </div>
    <!-- End Form -->
      <!-- Form -->
      <div class="row mb-3">
        <label for="currentCompanyCareersForm" class="col-sm-4 col-form-label">Company</label>
        <div class="col-sm-8">
          {{form.company.errors}}
          {{form.company}}
      </div>
      </div>
      <!-- End Form -->
    <!-- Form -->
    <div class="row mb-3">
      <label for="emailCareersForm" class="col-sm-4 col-form-label">Add Logo (Optional)</label>
      <div class="col-sm-8">
        {{form.company_pic_exp.errors}}
        {{form.company_pic_exp}}
  
    </div>
    </div>
    <!-- End Form -->
   <!-- Form -->
   <div class="row mb-3">
    <label for="emailCareersForm" class="col-sm-4 col-form-label">Location</label>
    <div class="col-sm-8">
      {{form.co_location.errors}}
      {{form.co_location}}

  </div>
  </div>
   
    <!-- Form -->
    <div class="row mb-3">
      <label for="phoneCareersForm" class="col-sm-4 col-form-label">Started</label>
      <div class="col-sm-8">
        {{form.started.errors}}
        {{form.started}}
    </div>
    </div>
    <!-- End Form -->
    <div class="row mb-3">
      <label for="phoneCareersForm" class="col-sm-4 col-form-label">End (Leave it empty if still working)</label>
      <div class="col-sm-8">
        {{form.end.errors}}
        {{form.end}}
    </div>
    </div>
  <!-- End Form -->
    <!-- Form -->
    <div class="row mb-3">
      <label for="phoneCareersForm" class="col-sm-4 col-form-label">Still Working?</label>
      <div class="col-sm-8">
        {{form.still_working.errors}}
        {{form.still_working}}
    </div>
    </div>
    <!-- End Form -->
 
    <!-- Form -->
    <div class="row mb-3">
      <label for="currentCompanyCareersForm" class="col-sm-4 col-form-label">Industry</label>
      <div class="col-sm-8">
        {{form.industry.errors}}
        {{form.industry}}
    </div>
    </div>
    <!-- End Form -->
    <!-- Form -->
    <div class="row mb-3">
      <label for="currentCompanyCareersForm" class="col-sm-4 col-form-label">Additional Information</label>
      <div class="col-sm-8">
        {{form.about_role.errors}}
        {{form.about_role}}
    </div>
    </div>
    <!-- End Form -->

    
    
  
  
  
  
        </div>
     
      <!-- End Form -->
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->

      </div>
      <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

      <!-- End Content -->
      <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_edicion(url){
          $('#edicion').load(url, function(){
            $(this).modal('show');
          });
        }
      </script>


<script>
  document.getElementById("id_started").setAttribute("type", "date");
  document.getElementById("id_end").setAttribute("type", "date");
</script>
      </body>
{% endblock content %}