{% extends 'base.html' %}
{% load static %}

{% block title %} Your Next Great Job is Here - Travaii {% endblock title %}



{% block content %}




<body>
  

{% include 'parts/nav.html' %}


<main id="content" role="main">
  {% if request.user.is_authenticated %}
  {% if request.user.is_email_confirmed == False %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} text-center rounded-0" role="alert">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
{% endif %}
{% endif %}


<!-- Hero -->
<div class="bg-soft-primary" style="margin-top: 89px;">
  <div class="container content-space-2">
    <form method="get">
      <!-- Input Card -->
      <div class="input-card input-card-sm mb-3">
        <div class="input-card-form">
          <label for="searchAppsForm" class="form-label visually-hidden">Search for Jobs</label>
          <div class="input-group input-group-merge">
            <span class="input-group-prepend input-group-text">
              <i class="bi-search"></i>
            </span>
            {{f.form.position}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">
         Search <i class="bi bi-search"></i>
        </button>
      </div>
      <!-- End Input Card -->
    </form>

    <div class="row align-items-center">
      <div class="col-md-auto mb-3 mb-lg-0">
        <h6 class="mb-1">Popular Categories <i class="bi bi-bookmarks"></i>:</h6>
      </div>
      <!-- End Col -->

      <div class="col-md mb-3 mb-lg-0">

        <!-- Check -->
        <div class="form-check form-check-inline">
          
          <label class="form-check-label" for="jobSearchToCheckbox1"><a href="{% url 'category_list' 1845 %}">IT, computers & Internet</a></label>
        </div>
        <!-- End Check -->
        <!-- Check -->
        <div class="form-check form-check-inline">
          
          <label class="form-check-label" for="jobSearchToCheckbox1"><a href="{% url 'category_list' 1858 %}">Telecommunications</a></label>
        </div>
        <!-- End Check -->
        <!-- Check -->
        <div class="form-check form-check-inline">
          
          <label class="form-check-label" for="jobSearchToCheckbox1"><a href="{% url 'category_list' 1860 %}">Upper & senior management</a></label>
        </div>
        <!-- End Check -->
        
      </div>
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- CTA -->
<div class="container" style="margin-top: 10px;">
  <div class="w-lg-75 mx-lg-auto">
    <div class="card card-sm overflow-hidden">
      <!-- Card -->
      <div class="card-body">
        <div class="row justify-content-md-start align-items-md-center text-center text-md-start">
          <div class="col-md offset-md-3 mb-3 mb-md-0">
            <h4 class="card-title">Discover new opportunities and reach your full potential, Sign Up</h4>
          </div>

          <div class="col-md-auto">
            {% if not request.user.is_authenticated %}
            <a class="btn btn-primary btn-transition" href="{% url 'sign_up' %}">Get Started<i class="bi bi-chevron-right"></i></a>
            {% endif %}
          </div>
        </div>

        <!-- SVG Shape -->
        <figure class="w-25 d-none d-md-block position-absolute top-0 start-0 mt-n2">
          <img class="card-img" src="/static/assets/svg/illustrations/apps.svg" alt="Image Description">
        </figure>
        <!-- End SVG Shape -->
      </div>
      <!-- End Card -->
    </div>
  </div>
</div>
<!-- End CTA -->
<!-- End Hero -->
{% if request.GET %}
{% if f.qs %}
<!-- Heading -->
<div class="d-flex justify-content-between align-items-center mb-3 p-2">
  <h4 class="mb-0">All Jobs</h4>
  <a class="link" href="#">View all <i class="bi-chevron-right small ms-1"></i></a>
</div>
<!-- End Heading -->

<div class="row gx-3 mx-n2 p-2">

  {% for obj in f.qs %}
  <div class="col-sm-6 col-md-4 mb-3">
    <!-- Card -->
    <div class="card card-bordered card-transition h-100">
      <a class="card-body" href="{% url 'detail_job' obj.id %}">
        <div class="d-flex">
          <div class="flex-shrink-0">
            {% if obj.publisher.companyprofile.company_logo %}
            <img class="avatar avatar-xs" src="{{obj.publisher.companyprofile.company_logo.url}}" alt="Logo">
            {% endif %}
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex align-items-center">
              <h5 class="card-title mb-0">{{obj.position}} <span class="badge bg-soft-info text-info me-2">
                <span class="legend-indicator bg-info"></span>{{obj.work_from}}
              </span></h5>
              
            </div>
            <p class="card-text text-body small">{{obj.publisher.companyprofile.company_name}}
              {% if obj.publisher.customer and obj.publisher.customer.selected_membership == 'Mid-market enterprises' %}
                                  <i class="bi bi-patch-check-fill text-primary" title="Premium Account"></i> 
                                  {% elif obj.publisher.customer and obj.publisher.customer.selected_membership == 'Large enterprise' %}     
                                  <i class="bi bi-patch-check-fill text-primary" title="Premium Account"></i> 

                          {% endif %}
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->


</div>
<!-- End Row -->

{% endfor %}
{% else %}
<hr>
<!-- Testimonials -->
<div class="container mt-2">
  <div class="text-center">
    <img class="avatar avatar-lg avatar-4x3" src="/static/assets/svg/illustrations/oc-person-3.svg" alt="Illustration">
  </div>

  <!-- Blockquote -->
  <figure class="w-md-75 text-center mx-md-auto">
    <blockquote class="blockquote">Don't see the job you want? Leave your email and desired position, and we'll notify you.
      or <a href="{% url 'sign_up' %}">Sign Up</a> 
      </blockquote>
  </figure>
  <!-- End Blockquote -->
</div>
<!-- End Testimonials -->
<hr>
{% endif %}


{% endif %}
   <!-- Signup Form -->
   <div class="container content-space-2 content-space-lg-3">
    <div class="row justify-content-lg-between align-items-md-center">
      <div class="col-md-5">
        <div class="mb-5">
          <h2>Take the first step towards your dream job</h2>
          <p>Achieve your career goals with our help – simply enter your desired job and we'll do our best to get it for you.</p>
        </div>

      </div>
      <!-- End Col -->
  
      <div class="col-md-7 col-lg-6">
        <!-- Form -->
        <form class="js-validate needs-validation" novalidate method="post" >
          {% csrf_token %}
          <!-- Card -->
          <div class="card shadow-lg">
            <div class="card-header bg-primary text-center">
              <h4 class="card-header-title text-white">Don't miss out - fill out the form below to get started!</h4>
            </div>
  
            <div class="card-body">
           
  
        
              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="signupHeroFormWorkEmail">Desired Job</label>
                {{form.job_category}}
                <span class="invalid-feedback">What is the job you are looking for?</span>
              </div>
              <!-- End Form -->
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="signupHeroFormWorkEmail">Email address</label>
                        {{form.email_field}}
        
                      <span class="invalid-feedback">Please enter your email address</span>
                    </div>
                    <!-- End Form -->
  
              <!-- Check -->
              <div class="form-check mb-4">
                <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheckEg2" name="signupFormPrivacyCheck" required>
                <label class="form-check-label small" for="signupHeroFormPrivacyCheckEg2"> By submitting this form I have read and acknowledged the <a href="{% url 'privacyandpolicy' %}">Privacy Policy</a></label>
                <span class="invalid-feedback">Please accept our Privacy Policy.</span>
              </div>
              <!-- End Check -->
  
              <div class="row align-items-center">
                
                 <div class="d-grid mb-3">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
              <!-- End Row -->
            </div>
          </div>
          <!-- End Card -->
        </form>
        <!-- End Form -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>


  </main>




{% include 'parts/footer.html' %}

</body>
{% endblock content %}

