    <div class="container" style="margin-top: 25px;">
            
        {% for info in my_cv %}

        <div class="card" style="width: 100%; margin-top: 15px;">
            <div class="card-header" style="background: #212529; color:aliceblue; font-size:25px; font-weight:bolder;">
                Applicant Info
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">languages: {{info.languages}}</li>
                <li class="list-group-item">Company website: {{info.linkedin}}</li>
                <li class="list-group-item">About the company : {{info.github}}</li>
                <li class="list-group-item">Country : {{info.p_website}}</li>
                <li class="list-group-item">Company's Address: {{info.skills}}</li>
                <li class="list-group-item">City : {{info.experience}}</li>
        
    
            </ul>
                {% if request.user.is_authenticated and user_data == request.user %}
                <a class="btn btn-outline-primary" href="{% url 'profile_update' info.id %}" role="button">Edit</a>
                {% endif %}
                {% if info.applicant_cv %}
                <div class="card" style="width: 18rem;display: flex;">
                    <img src="{{ info.applicant_cv.url }}" class="card-img-top" alt="Profile">
                    <h1> user Logo</h1>
                </div>
                {% endif %}

                {% endfor %}

    </div>
    <a class="btn btn-primary" href="{% url 'wish_list' %}" role="button">my wishlist</a>

    </div>