{% extends 'base.html' %}
{% load static %}



{% block title %}Sign up - Travaii {% endblock title %}


{% block content %}


<body class="d-flex align-items-center min-h-100">
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand navbar-light navbar-absolute-top">
    <div class="container-fluid">
      <nav class="navbar-nav-wrap">

        <!-- Default Logo -->
        <a class="navbar-brand d-flex d-lg-none" href="{% url 'home' %}" aria-label="Front">
          <div class="logo text-primary">Travaii</div>
        </a>



      </nav>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="flex-grow-1">
    <!-- Form -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-xl-4 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-dark" style="background-image: url(/static/assets/svg/components/wave-pattern-light.svg);">
          <div class="flex-grow-1 p-5">
            <!-- Blockquote -->
            <figure class="text-center">
              <div class="mb-4">
                <!--.
                <img class="avatar avatar-xl avatar-4x3" src="{% static '/assets/svg/brands/mailchimp-white.svg' %}" alt="Logo">
                .-->
                <h1 class="text-white">Travaii</h1>
              </div>

              <blockquote class="blockquote blockquote-light"> “Think of many things, do one.”</blockquote>

              
            </figure>
            <!-- End Blockquote -->


          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-7 col-xl-8 d-flex justify-content-center align-items-center min-vh-lg-100">
          <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
            <!-- Heading -->
            <div class="text-center mt-9">
              <h1 class="h2">Welcome to Travaii</h1>
              <p>First step towards your job.</p>
            </div>
            <!-- End Heading -->
          

             <!-- Form -->
             <form class="js-validate needs-validation" novalidate method="post">
                {% csrf_token %}
                <!-- Form -->
                <div class="mb-3">
                  <label class="form-label" for="signupModalFormSignupEmail">Full Name</label>
                  {{form.full_name}}
                  <span class="invalid-feedback">Please enter your full name</span>
                  {% if form.full_name.errors %}
                  <span class="text-danger">{{form.full_name.errors}}</span>
                  {% endif %}
                </div>
                <!-- End Form -->
  
                <!-- Form -->
                <div class="mb-3">
                  <label class="form-label" for="signupModalFormSignupUsername">Username</label>
  
                  {{form.username}}
                  <span class="invalid-feedback">Please enter your username</span>
                  {% if form.username.errors %}
                  <span class="text-danger">{{form.username.errors}}</span>
                  {% endif %}
                </div>
                <!-- End Form -->
  
                <!-- Form -->
                <div class="mb-3">
                  <label class="form-label" for="signupModalFormSignupEmail">Email</label>
  
                 
                  {{form.email}}
                  <span class="invalid-feedback">Please enter your email</span>
                  {% if form.email.errors %}
                  <span class="text-danger">{{form.email.errors}}</span>
                  {% endif %}
  
         
                </div>
                <!-- End Form -->
                     <!-- Form -->
                     <div class="mb-3">
                        <label class="form-label" for="signupModalFormSignupEmail">Gender</label>
        
                       
                        {{form.gender}}
                        <span class="invalid-feedback">Please enter your gender</span>
                        {% if form.gender.errors %}
                        <span class="text-danger">{{form.gender.errors}}</span>
                        {% endif %}
        
               
                      </div>
                      <!-- End Form -->
                           <!-- Form -->
                <div class="mb-3">
                    <label class="form-label" for="signupModalFormSignupEmail">Password</label>
    
                    {{form.password1}}
                    <span class="invalid-feedback">Your password must include 8+ characters</span>
                    {% if form.password1.errors %}
                    <span class="text-danger">{{form.password1.errors}}</span>
                    {% endif %}
    
           
                  </div>
                  <!-- End Form -->
              <!-- Form -->
              <div class="mb-3">
                <label class="form-label" for="signupModalFormSignupEmail">Confirm Password</label>

                {{form.password2}}
                  <span class="invalid-feedback">Password does not match the confirm password</span>
                  {% if form.password2.errors %}
                  <span class="text-danger">{{form.password2.errors}}</span>
                  {% endif %}

       
              </div>
             

                  <!-- Check -->
            <div class="form-check mb-4">
                <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheckEg2" name="signupFormPrivacyCheck" required>
                <label class="form-check-label small" for="signupHeroFormPrivacyCheckEg2"> By submitting this form I have read and acknowledged the <a href="{% url 'privacyandpolicy' %}">Privacy Policy</a></label>
                <span class="invalid-feedback">Please accept our Privacy Policy.</span>
              </div>
              <!-- End Check -->
                
  
                <div class="d-grid mb-3">
                  <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
                </div>
  
                <div class="text-center">
                  <p>Already have an account? <a class="link" href="{% url 'log_in' %}">Log in here</a></p>
                </div>
              </form>
              <!-- End Form -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Form -->
  </main>

</body>


{% endblock content %}