    {% extends 'base.html' %}
{% load static %}

    {% block content %}
    
    {% include 'parts/nav.html' %}

    <!-- Card Grid -->
    <div class="container content-space-2">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
     
        <h2 class="h1">Account & Settings</h2>
        </div>
        <!-- End Heading -->
    
        <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
            <!-- Card -->
            <a class="card card-lg card-transition h-100 text-center" href="{% url 'manage_jobs' %}">
            <div class="card-body">
                <div class="mb-4">
                <img class="avatar" src="{% static '/assets/svg/categories/list-svgrepo-com.svg' %}" alt="Logo">
                </div>
                <h3 class="card-title">Alerts and Apps</h3>
                <p class="card-text text-body">Manage your published jobs and all applications</p>
            </div>
            <div class="card-footer pt-0">
                <span class="card-link">View <i class="bi-chevron-right small ms-1"></i></span>
            </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
    
        <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
            <!-- Card -->
            <a class="card card-lg card-transition h-100 text-center" href="{% url 'u_profile' user.id %}">
            <div class="card-body">
                <div class="mb-4">
                <img class="avatar" src="{% static '/assets/svg/categories/settings.svg' %}" alt="Logo">
                </div>
                <h3 class="card-title">Settings</h3>
                <p class="card-text text-body">Change or Update your account Settings</p>
            </div>
            <div class="card-footer pt-0">
                <span class="card-link">View <i class="bi-chevron-right small ms-1"></i></span>
            </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
    
        <div class="col-md-6 col-lg-4">
            <!-- Card -->
            <a class="card card-lg card-transition h-100 text-center" href="{% url 'saved_profiles' %}">
            <div class="card-body">
                <div class="mb-4">
                <img class="avatar" src="{% static '/assets/svg/categories/applicants.svg' %}" alt="Logo">
                </div>
                <h3 class="card-title">Saved Profiles</h3>
                <p class="card-text text-body">Check your saved list to hire them</p>
            </div>
            <div class="card-footer pt-0">
                <span class="card-link">View <i class="bi-chevron-right small ms-1"></i></span>
            </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        {% if request.user.companyprofile %}
        <div class="col-md-6 col-lg-4 mt-5">
            <!-- Card -->
            <a class="card card-lg card-transition h-100 text-center" href="{% url 'company_update' request.user.companyprofile.id %}">
            <div class="card-body">
                <div class="mb-4">
                <img class="avatar" src="{% static '/assets/svg/categories/company.svg' %}" alt="Logo">
                </div>
                <h3 class="card-title">Edit Company Profile</h3>
                <p class="card-text text-body">Manage your company name and Identity</p>
            </div>
            <div class="card-footer pt-0">
                <span class="card-link">View <i class="bi-chevron-right small ms-1"></i></span>
            </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        {% else %}
        <div class="col-md-6 col-lg-4 mt-5">
            <!-- Card -->
            <a class="card card-lg card-transition h-100 text-center" href="{% url 'company_setup' %}">
            <div class="card-body">
                <div class="mb-4">
                <img class="avatar" src="{% static '/assets/svg/categories/add.svg' %}" alt="Logo">
                </div>
                <h3 class="card-title">Set up Company Profile</h3>
                <p class="card-text text-body">Set up your company name and Identity</p>
            </div>
            <div class="card-footer pt-0">
                <span class="card-link">Set up <i class="bi-chevron-right small ms-1"></i></span>
            </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        {% endif %}

        <div class="col-md-6 col-lg-4 mt-5">
            <!-- Card -->
            <a class="card card-lg card-transition h-100 text-center" href="#">
            <div class="card-body">
                <div class="mb-4">
                <img class="avatar" src="{% static '/assets/svg/categories/payment.svg' %}" alt="Logo">
                </div>
                <h3 class="card-title">Manage Subscription</h3>
                <p class="card-text text-body">Manage your Invoices and Subscriptions</p>
            </div>
            <div class="card-footer pt-0">
                <span class="card-link">View <i class="bi-chevron-right small ms-1"></i></span>
            </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        <div class="col-md-6 col-lg-4 mt-5">
            <!-- Card -->
            <a class="card card-lg card-transition h-100 text-center" href="{% url 'contact' %}">
            <div class="card-body">
                <div class="mb-4">
                <img class="avatar" src="{% static '/assets/svg/categories/help.svg' %}" alt="Logo">
                </div>
                <h3 class="card-title">Help</h3>
                <p class="card-text text-body">Contact us for any assistance</p>
            </div>
            <div class="card-footer pt-0">
                <span class="card-link">View <i class="bi-chevron-right small ms-1"></i></span>
            </div>
            </a>
            <!-- End Card -->
        </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Card Grid -->

    {% endblock content %}