{% extends 'base.html' %}
{% load static %}

{% block title %}View Application - Travaii{% endblock title %}



{% block content %}
{% include 'parts/nav.html' %}
<div class="container" style="margin-top: 150px;">
<!-- Card -->
<div class="card">
  <div class="card-header bg-soft-dark">
    <h4 class="card-header-title text-dark">Jobs Applied for</h4>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-nowrap table-align-middle">
      <thead class="thead-light">
        <tr>
          <th>Position</th>
          <th>Location</th>
          <th>Submit Date</th>
          <th>Status</th>
          <th>Messages</th>
        </tr>
      </thead>

      <tbody>
        {% for application in applications %}
        <tr>
          <td>
            <a class="d-flex" href="#">
              <div class="flex-shrink-0">
                <div class="avatar avatar-circle">
                  {% if application.job.publisher.companyprofile.company_logo %}
                  <img class="avatar-img" src="{{application.job.publisher.companyprofile.company_logo.url}}" alt="Image Description">
                  {% endif %}
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <span class="d-block h5 text-inherit mb-0">{{application.job.position}}</span>
                <span class="d-block font-size-sm text-body">{{application.job.publisher.companyprofile.company_name}}</span>
              </div>
            </a>
          </td>
          <td>
              {% if application.job.publisher.companyprofile.city or application.job.publisher.companyprofile.state %}
            <span class="d-block font-size-sm">{{application.job.publisher.companyprofile.city}}, {{application.job.publisher.companyprofile.state}}</span>
            {% endif %}
          </td>
          <td>{{application.sent_at}}</span></td>
          {% if application.request == 'Pending' %}
          <td><span class="badge bg-warning text-light">{{application.request}}</span></td>
          {% elif application.request == 'No Luck' %}
          <td><span class="badge bg-danger text-light">{{application.request}}</span></td>
          {% elif application.request == 'Approved' %}
          <td><span class="badge bg-success text-light">{{application.request}}</span></td>
          {% elif application.request == 'Considered' %}
          <td><span class="badge bg-info text-light">{{application.request}}</span></td>
          {% endif %}
          <td>
            {% if application.response_message %}
            <a onclick="abrir_modal_edicion('{% url 'view_message' application.id %}')" style="cursor: pointer;"><span class="badge bg-soft-dark text-success rounded-pill nav-link-badge">+1 Message</span></a>
            {% else %}
            <a href="#" style="cursor: pointer;"><span class="badge bg-soft-dark text-primary rounded-pill nav-link-badge">0 Messages</span></a>
            {% endif %}
        </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  <!-- End Table -->
  <div class="modal fade" id="edicion" role="dialog">

  </div>
</div>
<!-- End Card -->

</div>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

<script type="text/javascript">
  var $ = jQuery.noConflict();
  function abrir_modal_edicion(url){
    $('#edicion').load(url, function(){
      $(this).modal('show');
    });
  }
</script>


{% endblock %}