
{% extends 'base.html' %}

{% load static %}

{% block title %}Check out - Travaii{% endblock title %}
{% block content %}
<body class="bg-dark">
  {% include 'parts/nav.html'  %}
  

<!-- Card -->
<div class="container">
  <div class="w-lg-85 mx-lg-auto">
    <!-- Card -->
    <div class="position-absolute top-50 start-50 translate-middle card">
      <div class="card-body">
        <div class="row col-md-divider align-items-md-center">
          <div class="col-md-9">
            <h3>Pay Securely with Stripe <i class="fa-brands fa-cc-stripe text-primary"></i></h3>
            <p>By Pressing Checkout you will be redirected to stripe Payment Page</p>

            <!-- End Row -->
          </div>
          <!-- End Col -->

          <div class="col-md-3">
            <div class="ps-md-2">
              <h4>Access Imediate</h4>
              <p>Pay now and get access instantly</p>
              <script src="https://js.stripe.com/v3/"></script>
              <button type="button" id="checkout-button" data-secret="{{ session_id }}" class="btn btn-primary">Check out <i class="bi bi-shield-shaded"></i></button>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Card -->
  </div>
</div>
<!-- End Card -->

<script type="text/javascript">
  var sessionid = "{{session_id}}";
</script>
<!-- <script src="{% static 'membership/js/checkout.js' %}"></script> -->
<script>
  console.log('hello admin');


var stripe = Stripe('pk_test_51Lz03SKORmC2RvgXRhtthq6yKQVLC1xLCCSq7PWqJ8HqFClSjSOtvQBDN7ImsLdRilbvCTbe1XBQE7ppeKP3D5tL007zG2iI6B');

var checkoutButton = document.getElementById('checkout-button');

checkoutButton.addEventListener('click', function() {
  stripe.redirectToCheckout({
    // Make the id field from the Checkout Session creation API response
    // available to this file, so you can provide it as argument here
    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
    sessionId: sessionid
  }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
  });
});
</script>
</body>

  {% endblock content %}
  