{% extends 'base.html' %}
{% load static %}
{% block title %}Pricing - Travaii{% endblock %}
{% block content %}
{% include 'parts/nav.html' %}


<!-- Pricing -->
<div class="overflow-hidden" style="background: #F8FAFC;">
    <div class="container mt-8">
      <div class="alert alert-success rounded-0" role="alert">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <i class="bi-bell"></i>
          </div>
          <div class="flex-grow-1 ms-2">
            Offer: Interested in trying it out first? Request FREE access now! <a href="{% url 'contact' %}">Contact Us</a>
          </div>
        </div>
      </div>
    <!-- Nav -->
<!-- Nav -->
<div class="text-center">
  <ul class="nav nav-segment nav-pills mb-7" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="nav-one-eg1-tab" href="#nav-one-eg1" data-bs-toggle="pill" data-bs-target="#nav-one-eg1" role="tab" aria-controls="nav-one-eg1" aria-selected="true">Billed Monthly</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-two-eg1-tab" href="#nav-two-eg1" data-bs-toggle="pill" data-bs-target="#nav-two-eg1" role="tab" aria-controls="nav-two-eg1" aria-selected="false">Billed Yearly</a>
    </li>

  </ul>
</div>
<!-- End Nav -->

<!-- Tab Content -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="nav-one-eg1" role="tabpanel" aria-labelledby="nav-one-eg1-tab">
    <p>      <div class="row mb-7">
      <div class="col-md mb-3 mb-md-0">
        {% for plan in small_Business %}
        <!-- Card -->
        <div class="card h-100 shadow-none zi-1">
          <div class="card-header text-center">
            <div class="mb-2">
              <span class="fs-5 align-top text-dark fw-semibold">$</span>
              <span class="fs-1 text-dark fw-semibold">{{plan.price_per_month}}</span>
              <span>/mo</span>
            </div>
            <h3 class="card-title">{{plan.name}}</h3>
            <p class="card-text">All the basics for starting a new business</p>
          </div>
          <div class="card-body d-flex justify-content-center py-0">
            <!-- List Checked -->
            <ul class="list-checked list-checked-primary">
              <li class="list-checked-item">Access to 10 profiles and resumes</li>
              <li class="list-checked-item">Publish 10 jobs per month</li>

            </ul>
            <!-- End List Checked -->
          </div>
          <div class="card-footer text-center">
            <div class="d-grid mb-2">
              {% if request.user.customer.membership and request.user.customer.selected_membership == 'Small business' and check_interval.recurring.interval == 'month' %}
              <a href="#"><button type="button"  class="btn btn-ghost-dark w-lg-100">Current Plan</button></a>
              {% elif request.user.customer.membership and request.user.customer.selected_membership == 'Small business' and check_interval.recurring.interval == 'year' %}
              <a href="{% url 'show_total' %}?membership=smallbusinessmonth"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
              {% elif request.user.customer.membership and request.user.customer.selected_membership != 'Small business' %}
              <a href="{% url 'show_total' %}?membership=smallbusinessmonth"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
              {% elif not request.user.customer.membership %}
              <a href="{% url 'checkout' %}?membership=smallbusinessmonth"><button type="button"  class="btn btn-primary w-lg-100">Subscribe</button></a>
              {% endif %}
            </div>
            <p class="card-text text-muted small">Payment Via  <strong><i class="fa-brands fa-stripe fs-5 text-primary"></i> Stripe</strong></p>
          </div>
        </div>
        <!-- End Card -->
        {% endfor %}
      </div>
      <!-- End Col -->

      <div class="col-md mb-3 mb-md-0">
        <div class="position-relative">
          {% for plan in Mid_market_plan %}
          <!-- Card -->
          <div class="card h-100 zi-1 bg-dark text-light">
            <div class="card-header text-center text-light">
              <div class="mb-2">
                <span class="fs-5 align-top fw-semibold">$</span>
                <span id="pricingCount2" class="fs-1 fw-semibold"
                       data-hs-toggle-switch-item-options='{
                         "min": 49,
                         "max": 39
                       }'>{{plan.price_per_month}}</span>
                <span>/mo</span>
              </div>
          
             
              <h3 class="card-title text-light"><small class="text-light"> {{plan.name}}</small></h3>
              <p class="card-text text-light">Everything you need for a growing business</p>
            </div>

            <div class="card-body d-flex justify-content-center py-0">
              <!-- List Checked -->
              <ul class="list-checked list-checked-primary">
                <li class="list-checked-item text-light">Profile Premium badge <i class="bi bi-patch-check-fill text-primary" title="Premium Account"></i> </li>
                <li class="list-checked-item text-light">Dedicated assistant via Email</li>
                <li class="list-checked-item text-light">Access to 25 profiles and resumes</li>
                <li class="list-checked-item text-light">Publish 20 jobs per month</li>
                
                
              </ul>
              <!-- End List Checked -->
            </div>

            <div class="card-footer text-center">
              <script src="https://js.stripe.com/v3/"></script>
              <div class="d-grid mb-2">
                {% if request.user.customer.membership and request.user.customer.selected_membership == 'Mid-market enterprises' and check_interval.recurring.interval == 'month' %}
                <a href="#"><button type="button"  class="btn btn-ghost-light w-lg-100">Current Plan</button></a>
                {% elif request.user.customer.membership and request.user.customer.selected_membership == 'Mid-market enterprises' and check_interval.recurring.interval == 'year' %}
                <a href="{% url 'show_total' %}?membership=midmarketplanmonth"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
                {% elif request.user.customer.membership and request.user.customer.selected_membership != 'Mid-market enterprises' %}
                <a href="{% url 'show_total' %}?membership=midmarketplanmonth"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
                {% elif not request.user.customer.membership %}
                <a href="{% url 'checkout' %}?membership=midmarketplanmonth"><button type="button"  class="btn btn-primary w-lg-100">Subscribe</button></a>
                {% endif %}
                
              </div>
              <p class="card-text text-light small">Payment Via  <strong><i class="fa-brands fa-stripe fs-5 text-primary"></i> Stripe</strong></p>
            </div>
          </div>
          <!-- End Card -->
          {% endfor %}

          <!-- SVG Elements -->
          <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 9rem;">
            <img class="img-fluid" src="{% static '/assets/svg/components/dots.svg' %}" alt="Image Description">
          </figure>

          <figure class="position-absolute top-0 end-0 mt-n7 me-n7" style="width: 7rem;">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 260 260" xml:space="preserve">
              <circle fill="#ffc107" cx="130" cy="130" r="130"/>
            </svg>
          </figure>
          <!-- End SVG Elements -->
        </div>
      </div>
      <!-- End Col -->
      
      <div class="col-md mb-3 mb-md-0">
        {% for plan in large_enterprise_plan %}
        <!-- Card -->
        <div class="card h-100 shadow-none zi-1">
          <div class="card-header text-center">
            <div class="mb-2">
              <span class="fs-5 align-top text-dark fw-semibold">$</span>
              <span id="pricingCount3" class="fs-1 text-dark fw-semibold"
                     data-hs-toggle-switch-item-options='{
                       "min": 69,
                       "max": 59
                     }'>{{plan.price_per_month}}</span>
              <span>/mo</span>
            </div>

            <h3 class="card-title">{{plan.name}}</h3>
            <p class="card-text">Advanced features for scaling your business</p>
          </div>

          <div class="card-body d-flex justify-content-center py-0">
            <!-- List Checked -->
            <ul class="list-checked list-checked-primary">
              <li class="list-checked-item">Profile Premium badge <i class="bi bi-patch-check-fill text-primary" title="Premium Account"></i> </li>
              <li class="list-checked-item">Access to 50 profiles and resumes</li>
              <li class="list-checked-item">Publish 40 jobs per month</li>
              <li class="list-checked-item">Dedicated assistant via Email </li>
       
            </ul>
            <!-- End List Checked -->
          </div>

          <div class="card-footer text-center">
            <div class="d-grid mb-2">
              {% if request.user.customer.membership and request.user.customer.selected_membership == 'Large enterprise' and check_interval.recurring.interval == 'month' %}
              <a href="#"><button type="button"  class="btn btn-ghost-dark w-lg-100">Current Plan</button></a>
              {% elif request.user.customer.membership and request.user.customer.selected_membership == 'Large enterprise' and check_interval.recurring.interval == 'year' %}
              <a href="{% url 'show_total' %}?membership=Largeenterprisemonth"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
              {% elif request.user.customer.membership and request.user.customer.selected_membership != 'Large enterprise' %}
              <a href="{% url 'show_total' %}?membership=Largeenterprisemonth"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
              {% elif not request.user.customer.membership %}
              <a href="{% url 'checkout' %}?membership=Largeenterprisemonth"><button type="button"  class="btn btn-primary w-lg-100">Subscribe</button></a>
              {% endif %}
              
           
            </div>
            <p class="card-text text-muted small">Payment Via  <strong><i class="fa-brands fa-stripe fs-5 text-primary"></i> Stripe</strong></p>
          </div>
        </div>
        <!-- End Card -->
        {% endfor %}
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row --></p>
  </div>

  <div class="tab-pane fade" id="nav-two-eg1" role="tabpanel" aria-labelledby="nav-two-eg1-tab">
    <p>      <div class="row mb-7">
      <div class="col-md mb-3 mb-md-0">
        {% for plan in small_Business %}
        <!-- Card -->
        <div class="card h-100 shadow-none zi-1">
          <div class="card-header text-center">
            <div class="mb-2">
              <span class="fs-5 align-top text-dark fw-semibold">$</span>
              <span class="fs-1 text-dark fw-semibold">{{plan.price_per_year}}</span>
              <span>/mo</span>
            </div>
            <h3 class="card-title">{{plan.name}}</h3>
            <p class="card-text">All the basics for starting a new business</p>
          </div>
          <div class="card-body d-flex justify-content-center py-0">
            <!-- List Checked -->
            <ul class="list-checked list-checked-primary">
              <li class="list-checked-item">Access to 10 profiles and resumes</li>
              <li class="list-checked-item">Publish 10 jobs per month</li>
            
            </ul>
            <!-- End List Checked -->
          </div>
          <div class="card-footer text-center">
            <div class="d-grid mb-2">
              {% if request.user.customer.membership and request.user.customer.selected_membership == 'Small business' and check_interval.recurring.interval == 'year' %}
              <a href="#"><button type="button"  class="btn btn-ghost-dark w-lg-100 w-lg-100">Current Plan</button></a>
              {% elif request.user.customer.membership and request.user.customer.selected_membership == 'Small business' and check_interval.recurring.interval == 'month' %}
              <a href="{% url 'show_total' %}?membership=smallbusinessyear"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
              {% elif request.user.customer.membership and request.user.customer.selected_membership != 'Small business' %}
              <a href="{% url 'show_total' %}?membership=smallbusinessyear"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
              {% elif not request.user.customer.membership %}
              <a href="{% url 'checkout' %}?membership=smallbusinessyear"><button type="button"  class="btn btn-primary w-lg-100">Subscribe</button></a>
              {% endif %}
            </div>
            <p class="card-text text-muted small">Payment Via  <strong><i class="fa-brands fa-stripe fs-5 text-primary"></i> Stripe</strong></p>
          </div>
        </div>
        <!-- End Card -->
        {% endfor %}
      </div>
      <!-- End Col -->

      <div class="col-md mb-3 mb-md-0">
        <div class="position-relative">
          {% for plan in Mid_market_plan %}
          <!-- Card -->
          <div class="card h-100 zi-1 bg-dark text-light">
            <div class="card-header text-center text-light">
              <div class="mb-2">
                <span class="fs-5 align-top fw-semibold">$</span>
                <span id="pricingCount2" class="fs-1 fw-semibold"
                       data-hs-toggle-switch-item-options='{
                         "min": 49,
                         "max": 39
                       }'>{{plan.price_per_year}}</span>
                <span>/mo</span>
              </div>
          
             
              <h3 class="card-title text-light"><small class="text-light"> {{plan.name}}</small></h3>
              <p class="card-text text-light">Everything you need for a growing business</p>
            </div>

            <div class="card-body d-flex justify-content-center py-0">
              <!-- List Checked -->
              <ul class="list-checked list-checked-primary">
                <li class="list-checked-item text-light">Profile Premium badge <i class="bi bi-patch-check-fill text-primary" title="Premium Account"></i> </li>
                <li class="list-checked-item text-light">Dedicated assistant via Email</li>
                <li class="list-checked-item text-light">Access to 25 profiles and resumes</li>
                <li class="list-checked-item text-light">Publish 20 jobs per month</li>
             
                
              </ul>
              <!-- End List Checked -->
            </div>

            <div class="card-footer text-center">
              <script src="https://js.stripe.com/v3/"></script>
              <div class="d-grid mb-2">
                {% if request.user.customer.membership and request.user.customer.selected_membership == 'Mid-market enterprises' and check_interval.recurring.interval == 'year' %}
                <a href="#"><button type="button"  class="btn btn-ghost-light w-lg-100">Current Plan</button></a>
                {% elif request.user.customer.membership and request.user.customer.selected_membership == 'Mid-market enterprises' and check_interval.recurring.interval == 'month' %}
                <a href="{% url 'show_total' %}?membership=midmarketplanyear"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
                {% elif request.user.customer.membership and request.user.customer.selected_membership != 'Mid-market enterprises' %}
                <a href="{% url 'show_total' %}?membership=midmarketplanyear"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
                {% elif not request.user.customer.membership %}
                <a href="{% url 'checkout' %}?membership=midmarketplanyear"><button type="button"  class="btn btn-primary w-lg-100">Subscribe</button></a>
                {% endif %}
              </div>
              <p class="card-text text-light small">Payment Via  <strong><i class="fa-brands fa-stripe fs-5 text-primary"></i> Stripe</strong></p>
            </div>
          </div>
          <!-- End Card -->
          {% endfor %}

          <!-- SVG Elements -->
          <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 9rem;">
            <img class="img-fluid" src="{% static '/assets/svg/components/dots.svg' %}" alt="Image Description">
          </figure>

          <figure class="position-absolute top-0 end-0 mt-n7 me-n7" style="width: 7rem;">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 260 260" xml:space="preserve">
              <circle fill="#ffc107" cx="130" cy="130" r="130"/>
            </svg>
          </figure>
          <!-- End SVG Elements -->
        </div>
      </div>
      <!-- End Col -->
      
      <div class="col-md mb-3 mb-md-0">
        {% for plan in large_enterprise_plan %}
        <!-- Card -->
        <div class="card h-100 shadow-none zi-1">
          <div class="card-header text-center">
            <div class="mb-2">
              <span class="fs-5 align-top text-dark fw-semibold">$</span>
              <span id="pricingCount3" class="fs-1 text-dark fw-semibold"
                     data-hs-toggle-switch-item-options='{
                       "min": 69,
                       "max": 59
                     }'>{{plan.price_per_year}}</span>
              <span>/mo</span>
            </div>

            <h3 class="card-title">{{plan.name}}</h3>
            <p class="card-text">Advanced features for scaling your business</p>
          </div>

          <div class="card-body d-flex justify-content-center py-0">
            <!-- List Checked -->
            <ul class="list-checked list-checked-primary">
              <li class="list-checked-item">Profile Premium badge <i class="bi bi-patch-check-fill text-primary" title="Premium Account"></i> </li>
              <li class="list-checked-item">Access to 50 profiles and resumes</li>
              <li class="list-checked-item">Publish 40 jobs per month</li>
              <li class="list-checked-item">Dedicated assistant via Email</li>
            </ul>
            <!-- End List Checked -->
          </div>

          <div class="card-footer text-center">
            <div class="d-grid mb-2">
              {% if request.user.customer.membership and request.user.customer.selected_membership == 'Large enterprise' and check_interval.recurring.interval == 'year' %}
              <a href="#"><button type="button"  class="btn btn-ghost-dark w-lg-100">Current Plan</button></a>
              {% elif request.user.customer.membership and request.user.customer.selected_membership == 'Large enterprise' and check_interval.recurring.interval == 'month' %}
              <a href="{% url 'show_total' %}?membership=Largeenterpriseyear"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
              {% elif request.user.customer.membership and request.user.customer.selected_membership != 'Large enterprise' %}
              <a href="{% url 'show_total' %}?membership=Largeenterpriseyear"><button type="button"  class="btn btn-primary w-lg-100">Update Plan</button></a>
              {% elif not request.user.customer.membership %}
              <a href="{% url 'checkout' %}?membership=Largeenterpriseyear"><button type="button"  class="btn btn-primary w-lg-100">Subscribe</button></a>
              {% endif %}
            </div>
            <p class="card-text text-muted small">Payment Via  <strong><i class="fa-brands fa-stripe fs-5 text-primary"></i> Stripe</strong></p>
          </div>
        </div>
        <!-- End Card -->
        {% endfor %}
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row --></p>
  </div>


</div>
<!-- End Tab Content -->
    
    <!-- End Nav -->

      <div class="d-inline">
     <p class="text-center">Do you need a special quote? <strong><a href="{% url 'contact' %}">Contact Us</a></strong></p>
      <h5 class="text-center">Payment Secured by <i class="fa-brands fa-stripe text-primary" style="font-size: 25px;"></i></h5>

    </div>
    <!-- FAQ -->
<div class="container mt-5 mb-5">
  <!-- Heading -->
  <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2>Still curious?</h2>
  </div>
  <!-- End Heading -->

  <div class="w-lg-65 mx-lg-auto">
    <!-- Accordion -->
    <div class="accordion accordion-lg" id="accordionFAQ">


      <!-- Accordion Item -->
      <div class="accordion-item">
        <div class="accordion-header" id="headingCuriousThree">
          <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Refund Policy          </a>
        </div>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingCuriousThree" data-bs-parent="#accordionFAQ">
          <div class="accordion-body">
            <p><strong>Travaii</strong> offers reimbursement of annual subscriptions if you contact us in the first
              14 days of your subscription. We do not refund monthly subscriptions.</p>
          </div>
        </div>
      </div>
      <!-- End Accordion Item -->
      <!-- Accordion Item -->
      <div class="accordion-item">
        <div class="accordion-header" id="headingCuriousTwo">
          <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How do I cancel my subscription?
          </a>
        </div>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingCuriousTwo" data-bs-parent="#accordionFAQ">
          <div class="accordion-body">
            <h5>Note that once your subscription is cancelled, your Travaii Premium Features will remain active until the end of the period you have already paid for,</h5>
            <p> You can cancel your subscription at any time by following the instructions below </p>
            <ul>
              <li>Log in to your Travaii account to access account <a href="{% url 'account_categories' %}">settings</a> .</li>
              <li>Select Manage Subscription from the menu.</li>
              <li>Click Cancel Subscription.</li>
              <li>Follow the cancellation steps.</li>
              <li>Once your subscription is cancelled, you will have access to all Travaii content until the end of the paid period.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Accordion Item -->

    </div>
    <!-- End Accordion -->
  </div>
</div>
<!-- End FAQ -->
    </div>
  </div>

  <!-- End Pricing -->

  <!-- JS Implementing Plugins -->
<script src="{% static '/assets/vendor/hs-toggle-switch/dist/hs-toggle-switch.min.js' %}"></script>

<!-- JS Plugins Init. -->
<script>
  (function() {
    // INITIALIZATION OF TOGGLE SWITCH
    // =======================================================
    new HSToggleSwitch('.js-toggle-switch')
  })()
</script>
{% endblock content %}