{% extends 'base.html' %}
{% load static %}

{% block title %} Register my company {% endblock title %}



{% block content %}


<body class="bg-soft-primary">


<!-- Signup Form -->
<div class="container content-space-2 content-space-lg-3">
  <div class="row justify-content-lg-between align-items-md-center">
    <div class="col-md-5 mb-7 mb-md-0">
      <div class="mb-5">
        <h2>We are thrilled to have you join our board and have no doubt that you will have a meaningful impact.</h2>
        <p>Discover the benefits that Travaii has to offer when you complete your profile as a new company:</p>
      </div>


      <!-- List Checked -->
      <ul class="list-checked list-checked-primary">
        <li class="list-checked-item" style="color: black;">Free Trial Month</li>
        <li class="list-checked-item" style="color: black;">Access to all features such as : Posting unlimited Jobs, Resumes and more...</li>
        <li class="list-checked-item" style="color: black;">Verified Account badge <i class="bi bi-patch-check-fill text-primary"></i></li>
        <li class="list-checked-item" style="color: black;">And more to discover</li>
      </ul>
      <!-- End List Checked -->
    </div>
    <!-- End Col -->

    <div class="col-md-7 col-lg-6">
      <!-- Form -->
      <form class="js-validate needs-validation" novalidate method="post">
         {% csrf_token %}
        <!-- Card -->
        <div class="card">
          <div class="card-header bg-primary text-center">
            <h4 class="card-header-title text-white">Register your comapny <span class="badge bg-warning text-dark rounded-pill ms-1">Free</span></h4>
          </div>

          <div class="card-body">
            <div class="row gx-3">
              <div class="col-sm-6">
                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="signupHeroFormFirstName">Full name</label>
                  {{form.full_name}}
                  <span class="invalid-feedback">Please enter your full name</span>
                  {% if form.full_name.errors %}
                  <span class="text-danger">{{form.full_name.errors}}</span>
                  {% endif %}
                </div>
                <!-- End Form -->
              </div>
              <!-- End Col -->

              <div class="col-sm-6">
                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="signupHeroFormLasttName">Username</label>
                  {{form.username}}
                  <span class="invalid-feedback">Please enter your username</span>
                  {% if form.username.errors %}
                  <span class="text-danger">{{form.username.errors}}</span>
                  {% endif %}
                </div>
                <!-- End Form -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <!-- Form -->
            <div class="mb-4">
              <label class="form-label" for="signupHeroFormWorkEmail">Email address</label>
              {{form.email}}
              <span class="invalid-feedback">Please enter your email address</span>
              {% if form.username.errors %}
                  <span class="text-danger">{{form.email.errors}}</span>
                  {% endif %}
            </div>
            <!-- End Form -->

            <div class="row gx-3">
              <div class="col-sm-6">
                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="signupHeroFormSignupPassword">Password</label>
                  {{form.password1}}
            <span class="invalid-feedback">Your password must include 8+ characters</span>
            {% if form.password1.errors %}
            <span class="text-danger">{{form.password1.errors}}</span>
            {% endif %}
                </div>
                <!-- End Form -->
              </div>
              <!-- End Col -->

              <div class="col-sm-6">
                <!-- Form -->
                <div class="mb-4" data-hs-validation-validate-class>
                  <label class="form-label" for="signupHeroFormSignupConfirmPassword">Confirm password</label>
                  {{form.password2}}
                  <span class="invalid-feedback">Password does not match the confirm password</span>
                  {% if form.password2.errors %}
                  <span class="text-danger">{{form.password2.errors}}</span>
                  {% endif %}
                </div>
                <!-- End Form -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <!-- Check -->
            <div class="form-check mb-4">
              <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheckEg2" name="signupFormPrivacyCheck" required>
              <label class="form-check-label small" for="signupHeroFormPrivacyCheckEg2"> By submitting this form I have read and acknowledged the <a href="{% url 'privacyandpolicy' %}">Privacy Policy</a></label>
              <span class="invalid-feedback">Please accept our Privacy Policy.</span>
            </div>
            <!-- End Check -->

            <div class="row align-items-center">
              <div class="col-sm-7 mb-3 mb-sm-0">
                <p class="card-text small">Already have an account? <a class="link" href="{% url 'log_in' %}">Log In</a></p>
               
              </div>
              <!-- End Col -->

              <div class="col-sm-5 text-end">
                <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
            <div class="container d-flex justify-content-center mt-3"> <p class="card-text small">You came here by mistake? <a class="link" href="{% url 'home' %}">Go Back</a></p></div>
          </div>
        </div>
        <!-- End Card -->
      </form>
      <!-- End Form -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Signup Form -->
</body>
{% endblock %}
