Dear Mr/Ms {{name}},

You recently became a Travaii Premium member by purchasing {{plan}} Plan. Now you can hire x2 faster than any time, Find Resumes,Share more Jobs, and additional benefits.

We aim to continuously provide a fast and efficient service, should you not be satisfied with something, please do not hesitate to contact our support quoting your order number in full and one of our representatives will do their best to assist you.

Date : {{today}}
subscription id : {{order_id}}

Please be sure to keep this letter and information safe for all future communications with us.


Kind regards

Travaii Team.