{% extends 'base.html' %}
{% load static %}
{% block title %}Find Candidates - Travaii{% endblock title %}

{% block content %}
{% include 'parts/nav.html' %}
<body>

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
<!-- Hero -->
<div class="container content-space-t-4">
  <div class="w-lg-75 text-center mx-lg-auto">
    <div class="mb-9">
      <h1 class="display-4 mb-4">A faster way to <span class="text-primary text-highlight-warning">Find</span> qualified candidates</h1>
     
    </div>

    <div class="w-75 mx-auto">
      <img class="img-fluid" src="/static/assets/svg/illustrations/oc-collaboration.svg" alt="Image Description">
    </div>
  </div>
</div>
<!-- End Hero -->
    <!-- End Hero -->

    <!-- Card Grid -->
    <div class="container content-space-t-1 content-space-t-md-2 content-space-b-2 content-space-b-lg-3">
      <div class="row">
        <div class="col-lg-3 order-lg-2">
          <!-- Navbar -->
          <div class="navbar-expand-lg mb-5">
            <!-- Navbar Toggle -->
            <div class="d-grid">
              <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark">Filter</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
            </div>
            <!-- End Navbar Toggle -->

            <!-- Navbar Collapse -->
            <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
              <div class="w-100">
                <!-- Form -->
                <form method="get">
                

                  <div class="mb-5">
                    <h5 class="mb-3">Industry</h5>

                    <!-- Select -->
                    {{candid.form.desired_industry}}
                    <!-- End Select -->
                  </div>

                  <div class="mb-5">
                    <h5 class="mb-3">Languages</h5>

                    {{candid.form.languages}}
                  </div>

                  <div class="mb-5">
                    <h5 class="mb-3">Select Job Type</h5>

                    {{candid.form.desired_job_type}}
                  </div>
                  <div class="mb-5">
                    <h5 class="mb-3">Max age By year of birth</h5>

                    {{candid.form.year_joined__gt}}
                  </div>
                  <div class="mb-5">
                    <h5 class="mb-3">Max age By year of birth </h5>

                    {{candid.form.year_joined__lt}}
                  </div>

                  <div class="mb-5">
                    <h5 class="mb-3">State</h5>

                    {{candid.form.state}}
                  </div>

                  <div class="mb-5">
                    <h5 class="mb-3">Candidate Desired Job</h5>

                    {{candid.form.desired_job}}
                  </div>

                  <div class="mb-5">
                    <h5 class="mb-3">Candidate desired shift</h5>

                    {{candid.form.desired_shift}}
                  </div>

                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-transition mb-1">Apply filter</button>
                  <a href="{% url 'candidates' %}" class="btn btn-white btn-transition">Clear all</a> 
                  </div>
                </form>
                <!-- End Form -->
              </div>
            </div>
            <!-- End Navbar Collapse -->
          </div>
          <!-- End Navbar -->
        </div>
        <!-- End Col -->

        <div class="col-lg-9">
          <div class="row align-items-center mb-5">
            <div class="col-sm mb-3 mb-sm-0">
              <h3 class="mb-0">We are Trudly Proud of {{candid.qs.count}} Talents</h3>
            </div>

          </div>
          <!-- End Row -->

          <div class="row row-cols-1 row-cols-sm-2 mb-5">
          {% if candid.qs %}
          {% for candidate in candid.qs %}
            <div class="col mb-5">
              <!-- Card -->
              <div class="card card-bordered h-100">
                <!-- Card Body -->
                <div class="card-body">
                  <div class="row mb-3">
                    <div class="col">
                      <!-- Media -->
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                          {% if candidate.profile_pic %}
                          <img class="avatar avatar-sm avatar-4x3" src="{{candidate.profile_pic.url}}" alt="Image Description">
                          {% else %}
                          <img class="avatar avatar-sm avatar-4x3" src="https://media.istockphoto.com/id/1313958250/vector/user-avatar-profile-icon-black-vector-illustration-on-transparent-background-website-or-app.jpg?s=612x612&w=0&k=20&c=oGGyxXc1jaRAopcs4ZEkZ1LbtAoQwKp4Q0niLvJNk-o=" alt="Image Description">
                          {% endif %}
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h6 class="card-title">
                            <a class="text-dark" href="#">{{candidate.owner.full_name}}</a>
                            {% if candidate.applicant_cv %}
                            <i class="bi bi-star-fill text-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="User Uploaded Resume"></i>
                                                        {% endif %}
                          </h6>
                        </div>
                      </div>
                      <!-- End Media -->
                    </div>
                  </div>
                  <!-- End Row -->
                  <h3 class="card-title">
                    {% if candidate.desired_job  %}
                    <a class="text-dark" href="#">{{candidate.desired_job}}</a>
                    {% endif %}
                  </h3>
                  <span class="d-block small text-body mb-1">{{candidate.about|truncatechars:'100'}}</span>
                </div>
                <!-- End Card Body -->
                <!-- Card Footer -->
                <div class="card-footer pt-0">
                  <ul class="list-inline list-separator small text-body">
                    <li class="list-inline-item"><i class="bi bi-geo-alt-fill"></i> {{candidate.state}}</li>
                    <li class="list-inline-item"><a href="#" target="_blank" rel="noopener noreferrer" class="text-dark">{{candidate.owner.gender}}</a></li>

                    <li class="list-inline-item">
                      {% if request.user.customer %}
                      {% if candidate.applicant_cv  %}
                      <a href="{{candidate.applicant_cv.url}}" target="_blank" rel="noopener noreferrer">View Resume</a>
                      {% else %}
                      <p>No Resume</p>
                      {% endif %}
                      {% else %}
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                        View Resume
                      </button>
                      <!-- End Button trigger modal -->
                      {% endif %}
                    </li>
                    <li class="list-inline-item"><a href="{% url 'profile' candidate.owner.username %}" target="_blank" rel="noopener noreferrer">View Profile</a></li>
                  </ul>
                </div>
                <!-- End Card Footer -->
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->
            
            {% endfor %}
            {% else %}
            <div class="alert alert-light" role="alert">
              Sorry, but there are no search results available at this time. Please try your search again later or try adjusting your search parameters.
            </div>
            {% endif %}
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Card Grid -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->


<!-- Modal -->
<div id="exampleModalCenteredScrollable" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Accessible for Premium Companies</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Want to access this exclusive feature? Upgrade your subscription now and get access to this and many more benefits. Don't miss out, upgrade today!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'subscription' %}" class="btn btn-primary">Upgrade</a>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
<script>
  document.getElementById("id_desired_industry").setAttribute("class", "form-select form-select-md");
  document.getElementById("id_desired_job_type").setAttribute("class", "js-select form-select form-select-md");
  document.getElementById("id_desired_job_type").setAttribute("placeholder", "Type");
document.getElementById("id_languages").setAttribute("class", "js-select form-select form-select-md");
document.getElementById("id_languages").setAttribute("placeholder", "Filter By Language");
document.getElementById("id_desired_job").setAttribute("placeholder", "Applicant's Job");
document.getElementById("id_desired_job").setAttribute("class", "js-select form-select form-select-md");
document.getElementById("id_state").setAttribute("class", "js-select form-select form-select-md");
document.getElementById("id_state").setAttribute("placeholder", "Filter By State");
document.getElementById("id_desired_shift").setAttribute("class", "form-select form-select-sm");
document.getElementById("id_year_joined__gt").setAttribute("class", "form-control");
document.getElementById("id_year_joined__lt").setAttribute("class", "form-control");
document.getElementById("id_year_joined__gt").setAttribute("placeholder", "1980");
document.getElementById("id_year_joined__lt").setAttribute("placeholder", "2000");


</script>
</body>
{% endblock content %}