
{% load static %}
<style>
    .nav-link{
        font-weight: 700;
    }
</style>

<!-- ========== HEADER ========== -->
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-sticky-top navbar-light bg-white">
 <div class="container">
 <nav class="js-mega-menu navbar-nav-wrap">
     <!-- Default Logo -->
     <a class="navbar-brand" href="{% url 'home' %}" aria-label="Front">
         <div class="logo text-primary">Travaii</div>
     </a>
     <!-- End Default Logo -->

     <!-- Toggler -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-default">
         <i class="bi-list"></i>
     </span>
     <span class="navbar-toggler-toggled">
         <i class="bi-x"></i>
     </span>
     </button>
     <!-- End Toggler -->

     <!-- Collapse -->
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav">
         <!-- Landings -->
         {% if not request.user.is_authenticated %}

         <li class="nav-item">
             <a class="nav-link active" href="{% url 'home' %}">Home</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="{% url 'alljobs' %}">Jobs</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="{% url 'candidates' %}">Candidates</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="{% url 'log_in' %}">Login</a>
         </li>
         <li class="nav-item">
             <a class="btn btn-outline-success btn-transition" href="{% url 'sign_up' %}">Sign Up</i></a>
         </li>

         <li class="nav-item">
         <a class="btn btn-primary btn-transition" href="{% url 'CompanyLandingPage' %}">Company</i></a>
         </li>
         {% elif request.user.is_authenticated and request.user.is_company %}
         <li class="nav-item">
         <a class="nav-link active" href="{% url 'home' %}">Home</a>
         </li>
         <li class="nav-item">
         <a class="nav-link" href="{% url 'alljobs' %}">Jobs</a>
         </li>
         <li class="nav-item">
         <a class="nav-link" href="{% url 'candidates' %}">Candidates</a>
         </li>
         
         <li class="nav-item">
         <a class="nav-link" href="{% url 'subscription' %}">Pricing</a>
         </li>
         <li class="nav-item">
         <a class="btn btn-primary btn-transition" href="{% url 'create_job' %}">Post Job</i></a>
         </li>
         <li class="nav-item" style="border-bottom: 2px solid blue;">
         <div class="btn-group">
             
             <button class="btn btn-ghost-primary dropdown-toggle" type="button" id="dropdownMenuButtonGhostPrimary" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: 800;">
             <i class="bi bi-person" style="margin-right: 5px;"></i>   {{request.user.username|title}}
             </button>
             <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item" href="{% url 'company_Profile' user.id %}">
                 <i class="bi bi-building dropdown-item-icon"></i> Company Profile
             </a>
             <a class="dropdown-item" href="{% url 'account_categories' %}"> 
                 <i class="bi bi-gear-wide-connected dropdown-item-icon"></i>Settings
             </a>
             <hr>
         
             <a class="dropdown-item" href="{% url 'contact' %}">
                 <i class="bi bi-question-circle dropdown-item-icon"></i>Help
             </a>
             <a class="dropdown-item" href="{% url 'log_out' %}">
                 <i class="bi bi-box-arrow-in-left dropdown-item-icon"></i>Log Out
             </a>
             </div>
         </div>
         </li>
         {% endif %}
         {% if request.user.is_authenticated and request.user.is_applicant %}
     <li class="nav-item">
         <a class="nav-link active" href="{% url 'home' %}">Home</a>
     </li>

     <!-- Dropdown -->
     <li class="nav-item">
         <a class="nav-link " href="{% url 'alljobs' %}"> Jobs</a>
     </li>
     <!-- Dropdown -->
     <!-- Dropdown -->
     <li class="nav-item" style="border-bottom: 2px solid blue;">
     <div class="btn-group">
         <button class="btn btn-ghost-primary dropdown-toggle" type="button" id="dropdownMenuButtonGhostPrimary" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: 800;">
         <i class="bi bi-person"></i> {{request.user.username|title}}
         </button>
         <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
         <a class="dropdown-item" href="{% url 'profile' request.user.username %}">
             <i class="bi bi-person-square dropdown-item-icon"></i> My Profile
         </a>
         <a class="dropdown-item" href="{% url 'account_settings' %}"> 
             <i class="bi bi-gear-wide-connected dropdown-item-icon"></i>Settings
         </a>
         <a class="dropdown-item" href="{% url 'log_out' %}">
             <i class="bi bi-box-arrow-in-left dropdown-item-icon"></i>Log Out
         </a>
         </div>
     </div>
     </li>
 <!-- End Dropdown -->
 {% endif %}
     



         
     </ul>
     </div>
     <!-- End Collapse -->
 </nav>
 </div>
</header>
<!-- ========== END HEADER ========== -->